@page "/"
@using System.Net
@using testing.models
@inject NavigationManager Navigation

<h3>Home</h3>
<input type="text" @bind="message" />
<button @onclick="StartTcpServer">Start Server</button>
<button @onclick="SendMessage">Send Message</button>
<button @onclick="StopTcpServer">Stop Server</button>
<button @onclick="GetMessage">GET Message TCP</button>

@code {
    private string message;
    private TcpListener server;
    private TcpClient client;
    private TcpServer tcpServer;

    private void StartTcpServer()
    {
        // Initialize shared server and client
        server = new TcpListener(IPAddress.Any, 3000);// 8080);
        client = null;

        // Pass them to TcpServer
        tcpServer = new TcpServer(server, client);
        tcpServer.StartServer(3000);

        tcpServer.AcceptClient();
    }

    private void SendMessage()
    {
        if (tcpServer != null)
        {
            tcpServer.SendMessage(message);
        }
    }

    private void StopTcpServer()
    {
        if (tcpServer != null)
        {
            tcpServer.StopServer();
        }
    }

    private void GetMessage()
    {
        if (tcpServer != null)
        {
            tcpServer.GetMessage();
        }
    }
}
